<!-- Masthead -->
<%
  bg_images = [
    'inspiring-mountains.jpg',
    'blue-mountain.jpg',
    'guy-left-sunset.jpg',
    'woods-traintracks.jpg'
  ]
%>
<header class="masthead text-white text-center" style="background-image:url(<%= image_url(bg_images.sample) %>);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">
          <%= t('headline') %>
        </h1>
      </div>
      <div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
        <%= form_tag(search_path) do %>
          <div class="form-row">
            <div class="col-12 col-md-8 mb-2 mb-md-0">
              <%= text_field_tag :keywords, '', class: 'form-control form-control-lg', placeholder: 'Search verses or topics...' %>
            </div>
            <div class="col-12 col-md-4">
              <%= submit_tag 'Search', class: 'btn btn-block btn-lg btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>