<%= render 'search-masthead' %>

<!-- Verses -->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3 py-4">
        <div class="font-serif lines-md">
          <% if @verses.length %>

            <%= render 'toolbar' %>

            <h2>
              Proverbs
              <% if display_spaced? %>
                <span class="bold t-lg pr-1"><%= @verses.first.chapter %></span>
              <% end %>
            </h2>

            <% @verses.each do |v| %>
              <%= render display_partial, verse: v %>
            <% end %>

            <div class="py-2">
              <div class="pull-right">
                <%= render 'next_previous_links' %>
              </div>
            </div>

          <% else %>
            <div class="text-center">
              <h3>No verses to display right now.</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


  </body>

</html>
